<main class="container is-fullhd">
    <div class="columns is-mobile is-gapless">
        <div class="column is-clipped is-2">
            <toolbar></toolbar>
        </div>
        <div class="column is-clipped" (click)="selectElement($event, null)">
            <div class="elements-droparea is-overlay"
                 appDroparea
                 (dragover)="onDragover($event)"
                 (dragleave)="onLeave($event)"
                 (drop)="addElement($event)"
            >
                <div class="elements-stack" *ngIf="form">
                    <div [ngClass]="{'ui-element':!0, 'selected': selectedElement === el.id, 'cursor': isElementCursor(i)}"
                         (click)="selectElement($event, el)"
                         (dragenter)="pointCursor(i)"
                         *ngFor="let el of form.elements; let i = index">
                        <span>{{el.alias || el.type}}</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="column is-clipped is-3">
            <element-props *ngIf="selectedElement" [elementIns]="getElement(selectedElement)"></element-props>
            <form-props *ngIf="!selectedElement" [formIns]="form"></form-props>
        </div>
    </div>
</main>