<main class="container is-fullhd">
    <div class="columns is-mobile is-gapless">
        <div class="column is-clipped is-2">
            <toolbar></toolbar>
        </div>
        <div class="column is-clipped">
            <div class="elements-droparea is-overlay"
                 appDroparea
                 (drop)="addElement($event)"
            >
                <div class="elements-stack" *ngIf="form">
                    <div class="ui-element" *ngFor="let el of form.elements; let i = index">
                        {{el}}
                    </div>
                </div>
            </div>

        </div>
        <div class="column is-clipped is-3">
            <form-props [formId]="formId"></form-props>
        </div>
    </div>
</main>