<div *ngIf="element">
    <div class="field">
        <label class="label is-small">ID</label>
        <div class="control">
            <input class="input is-small"
                   readonly
                   [(ngModel)]="element.id">
        </div>
    </div>
    <div class="field">
        <label class="label is-small">Alias</label>
        <div class="control">
            <input class="input is-small"
                   [(ngModel)]="element.alias">
        </div>
    </div>
    <div class="field">
        <label class="label is-small">Value source</label>
        <div class="control">
            <div class="select is-small">
                <select [(ngModel)]="element.valueSource">
                    <option [ngValue]="0">Simple value</option>
                    <option [ngValue]="1">Function</option>
                    <option [ngValue]="2">Bind to property</option>
                </select>
            </div>
        </div>
    </div>
    <div class="field" *ngIf="element.valueSource === 0">
        <label class="label is-small">Value</label>
        <div class="control">
            <input class="input is-small"
                   [(ngModel)]="element.value">
        </div>
    </div>
    <div class="field" *ngIf="element.valueSource === 1">
        <label class="label is-small">Function name</label>
        <div class="control">
            <input class="input is-small"
                   [(ngModel)]="element.sourceFunction">
        </div>
    </div>
    <div class="field" *ngIf="element.valueSource === 2">
        <label class="label is-small">Property path</label>
        <div class="control">
            <input class="input is-small"
                   [(ngModel)]="element.bindTo">
        </div>
    </div>

    <div class="field">
        <label class="checkbox is-size-7">
            <input [(ngModel)]="element.modifyBefore" type="checkbox">
            Modify value before show
        </label>
    </div>
    <div class="field" *ngIf="element.modifyBefore">
        <label class="label is-small">Function name</label>
        <div class="control">
            <input class="input is-small"
                   [(ngModel)]="element.modifyBeforeFnc">
        </div>
    </div>

    <div class="field">
        <label class="checkbox is-size-7">
            <input [(ngModel)]="element.modifyAfter" type="checkbox">
            Modify value before save
        </label>
    </div>
    <div class="field" *ngIf="element.modifyAfter">
        <label class="label is-small">Function name</label>
        <div class="control">
            <input class="input is-small"
                   [(ngModel)]="element.modifyAfterFnc">
        </div>
    </div>

    <div class="field">
        <label class="checkbox is-size-7">
            <input [(ngModel)]="element.modifyOnChange" type="checkbox">
            Modify value after each change
        </label>
    </div>
    <div class="field" *ngIf="element.modifyOnChange">
        <label class="label is-small">Function name</label>
        <div class="control">
            <input class="input is-small"
                   [(ngModel)]="element.modifyOnChangeFnc">
        </div>
    </div>

    <div class="field" *ngIf="element.type === 'Select'">
        <label class="label is-small"><a href="javascript:" (click)="element.addOption()">Add option</a></label>
        <div class="control">
            <table class="select-options-table table is-bordered">
                <thead>
                <tr class="is-size-7">
                    <th>Value</th>
                    <th>Label</th>
                </tr>
                </thead>
                <tr *ngFor="let option of element.options">
                    <td><input class="input is-small" type="text" [(ngModel)]="option.value"></td>
                    <td><input class="input is-small" type="text" [(ngModel)]="option.label"></td>
                </tr>
            </table>
        </div>
    </div>

</div>
